.skill_content {
  width: 80%;
  margin: 3rem auto;
  user-select: none;
}

.skill_content h2 {
  text-align: center;
  font-size: 40px;
}

.skill_content .skill_slider {
  margin: 5rem 0;
  padding-bottom: 4rem;
}

.skill_content .skill_slider .slide {
  width: 300px;
  height: 200px;
  background-color: #d9d9d9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  box-shadow: 0px 8px 3px rgba(0, 0, 0, 0.25);
  user-select: none;
}

.skill_content .skill_slider .slide img {
  width: 80%;
  scale: .5;
}

/* .swiper-pagination-bullet-active .swiper-pagination-bullet {
  background: #85182a;
} */

@media (max-width: 420px) {
  .skill_content {
    width: 95%;
  }
  .skill_content .skill_slider .slide img {
    width: 70%;
    scale: .8;
  }
}
