.hero_content {
  max-width: 85%;
  margin: 7rem auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 7rem;
  color: #f8f9fa;
}

.hero_content .hero_texts h1 {
  font-size: 58px;
}

.hero_content .hero_texts h4 {
  font-size: 28px;
}

.hero_content .hero_texts p {
  margin: 1rem 0;
}

.hero_content .hero_texts div .social_icons {
  width: 25%;
  display: flex;
  justify-content: space-between;
  margin-top: 0.3rem;
}

.hero_content .hero_texts div .social_icons .icon {
  border: 1px solid;
  font-size: 26px;
  padding: 4px;
  border-radius: 100%;
  cursor: pointer;
}

.hero_content .hero_img_shadow {
  border-radius: 2rem 2rem 0 0;
  width: 98%;
  height: 390px;
  margin-top: 8.5rem;
  background-color: #343a40;
}

.hero_content .hero_img_shadow img {
  width: 100%;
  height: 500px;
  transform: translateY(-110px);
}

@media (max-width: 960px) {
  .hero_content {
    max-width: 95%;
    gap: 0;
  }

  .hero_content .hero_texts {
    width: 85%;
  }

  .hero_content .hero_texts h1 {
    font-size: 48px;
  }
}

@media (max-width: 768px) {
  .hero_content {
    flex-direction: column;
    max-width: 95%;
    gap: 6rem;
  }

  .hero_content .hero_img_shadow {
    max-width: 80%;
  }
}

@media (max-width: 420px) {
  .hero_content {
    max-width: 98%;
  }

  .hero_content .hero_texts {
    width: 97%;
  }
  .hero_content .hero_texts h1 {
    font-size: 48px;
  }

  .hero_content .hero_img_shadow {
    max-width: 88%;
  }
}
