/*========= Desktop layout styling ============= */
.hero_content_desktop {
  max-width: 85%;
  margin: 7rem auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 7rem;
  color: #f8f9fa;
}

.hero_content_desktop .hero_texts > div:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.hero_content_desktop .hero_texts > div > span:nth-child(2) {
  font-size: 58px;
  font-weight: 600;
}

.hero_content_desktop .hero_texts > div > span:nth-child(1),
.hero_content_desktop .hero_texts > div > span:nth-child(3) {
  font-size: 28px;
  font-weight: 400;
}

.hero_content_desktop .hero_texts p {
  margin: 1rem 0;
}

.hero_content_desktop .hero_texts h4 {
  margin-bottom: 1rem;
}

.hero_content_desktop .hero_texts div .social_icons {
  width: 25%;
  display: flex;
  justify-content: space-between;
  margin-top: 0.3rem;
}

.hero_content_desktop .hero_texts div .social_icons .icon {
  border: 1px solid;
  font-size: 26px;
  padding: 4px;
  border-radius: 100%;
  cursor: pointer;
}

.social_icons a{
  color: #ffffff;
}

.hero_content_desktop .hero_img_shadow {
  border-radius: 2rem 2rem 0 0;
  width: 98%;
  height: 390px;
  margin-top: 8.5rem;
  background-color: #343a40;
}

.hero_content_desktop .hero_img_shadow img {
  width: 100%;
  height: 500px;
  transform: translateY(-110px);
}

@media (max-width: 960px) {
  .hero_content_desktop {
    max-width: 95%;
    gap: 0;
  }

  .hero_content_desktop .hero_texts {
    width: 85%;
  }

  .hero_content_desktop .hero_texts > div > span:nth-child(2) {
    font-size: 48px;
  }
}

@media (max-width: 768px) {
  .hero_content_desktop {
    flex-direction: column;
    max-width: 95%;
    gap: 6rem;
  }

  .hero_content_desktop .hero_img_shadow {
    max-width: 80%;
  }
}

@media (min-width: 650px) {
  .hero_content_mobile {
    display: none;
  }
}

/*======== Mobile Layout styling =========*/

@media (max-width: 650px) {
  .hero_content_desktop {
    display: none;
  }

  .hero_content_mobile {
    display: block;
    max-width: 100%;
    display: flex;
    margin-top: 7rem;
  }

  .text_container {
    max-width: 98%;
    padding: 0.5rem;
    margin: auto;
  }

  .text_container .intro {
    display: flex;
    flex-direction: column;
  }

  .text_container .intro span:nth-child(1),
  .text_container .intro span:nth-child(3) {
    font-size: 24px;
    font-weight: 400;
  }

  .text_container .intro span:nth-child(2) {
    font-size: 45px;
    font-weight: 600;
  }

  .text_container .hero_img_shadow {
    scale: 0.9;
    margin-left: auto;
    height: 340px;
    max-width: 78%;
    border: 1px solid;
    margin-bottom: 1rem;
    background-color: #343a40;
    border-radius: 2rem 2rem 0 0;
    margin-top: 7rem;
  }

  .text_container .hero_img_shadow img {
    width: 100%;
    height: 420px;
    transform: translateY(-81px);
  }

  .text_container .bottom {
    text-align: center;
    margin-top: 1rem;
  }

  .social_icons {
    width: 35%;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem auto;
  }

  .social_icons a{
    color: #ffffff;
  }

  .social_icons .icon {
    border: 1px solid;
    font-size: 26px;
    padding: 4px;
    border-radius: 100%;
    cursor: pointer;
  }
}
